In [20]:
import numpy as np
import pandas as pd

Parsing functions in pandas

Function	    Description
read_csv	    Load delimited data from a file, URL, or file-like object. Use comma as default delimiter
read_table	    Load delimited data from a file, URL, or file-like object. Use tab ('\t') as default delimiter
read_fwf	    Read data in fixed-width column format (that is, no delimiters)
read_clipboard	Version of read_table that reads data from the clipboard. Useful for converting tables from web pages

 read_csv /read_table function arguments

Argument	            Description
path	                String indicating filesystem location, URL, or file-like object
sep or delimiter	    Character sequence or regular expression to use to split fields in each row
header	                Row number to use as column names. Defaults to 0 (first row), but should be None if there is no header row
index_col	            Column numbers or names to use as the row index in the result. Can be a single name/number or a list of them for a hierarchical index
names	                List of column names for result, combine with header=None
skiprows	            Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip
na_values	            Sequence of values to replace with NA
comment	                Character or characters to split comments off the end of lines
parse_dates	            Attempt to parse data to datetime; 
keep_date_col	        If joining columns to parse date, keep the joined columns. Default False
converters	            Dict containing column number of name mapping to functions. For example {'foo': f} would apply the function f to all values in the 'foo' column
dayfirst	            When parsing potentially ambiguous dates, treat as international format (e.g. 7/6/2012 -> June 7, 2012). Default False
date_parser	            Function to use to parse dates
nrows	                Number of rows to read from beginning of file
iterator	            Return a TextParser object for reading file piecemeal
chunksize	            For iteration, size of file chunks
skip_footer	            Number of lines to ignore at end of file
verbose	                Print various parser output information, like the number of missing values placed in non-numeric columns
encoding	            Text encoding for unicode. For example 'utf-8' for UTF-8 encoded text
squeeze	                If the parsed data only contains one column return a Series
thousands	            Separator for thousands, e.g. ',' or '.'

In [21]:
#1. make sure document's format matches the function. e.g. csv not xlsm
#2. make sure add r if you use absolute path and '\'
csv = pd.read_csv(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDI.csv')
csv

         Country Country Code    HDI  Year
0      Australia          AUS  0.873  1992
1  United States          USA  0.872  1992
2      Australia          AUS  0.876  1993
3         Norway          NOR  0.861  1992
4         Norway          NOR  0.869  1993
5         Canada          CAN  0.857  1992
6         Canada          CAN  0.855  1993
7    Switzerland          CHE  0.845  1992
8         France          FRA  0.810  1993
9        Finland          FIN  0.805  1993

In [22]:
read_table = pd.read_table(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDI.csv', sep= ',')
read_table

         Country Country Code    HDI  Year
0      Australia          AUS  0.873  1992
1  United States          USA  0.872  1992
2      Australia          AUS  0.876  1993
3         Norway          NOR  0.861  1992
4         Norway          NOR  0.869  1993
5         Canada          CAN  0.857  1992
6         Canada          CAN  0.855  1993
7    Switzerland          CHE  0.845  1992
8         France          FRA  0.810  1993
9        Finland          FIN  0.805  1993

Sometimes, you might meet csv with no headers. we could use 'header', which add number order, or 'names'

In [23]:
read_csv_noheader = pd.read_csv(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDINoheaders.csv' ,names = ['Count', '缩写', 'HDI','Year'])
read_csv_noheader

           Count   缩写    HDI  Year
0  United States  USA  0.877  1993
1      Australia  AUS  0.876  1993
2         Norway  NOR  0.869  1993
3         Canada  CAN  0.855  1993
4    Switzerland  CHE  0.849  1993
5        Austria  AUT  0.817  1993
6     Luxembourg  LUX  0.813  1993
7         France  FRA  0.810  1993
8        Finland  FIN  0.805  1993

Here, we use 'index_col.' This paramater move the column--'Country' as the index.

In [24]:
read_csv_noheader2 = pd.read_csv(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDINoheaders.csv' ,
names = ['Count', '缩写', 'HDI','Year'], index_col='Count')
read_csv_noheader2

                缩写    HDI  Year
Count
United States  USA  0.877  1993
Australia      AUS  0.876  1993
Norway         NOR  0.869  1993
Canada         CAN  0.855  1993
Switzerland    CHE  0.849  1993
Austria        AUT  0.817  1993
Luxembourg     LUX  0.813  1993
France         FRA  0.810  1993
Finland        FIN  0.805  1993

In [25]:
read_txt = list(open(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDI_no_comma.txt'))
read_txt

['United States\tUSA\t0.877\t1993\n',
 'Australia\tAUS\t0.876\t1993\n',
 'Norway\tNOR\t0.869\t1993\n',
 'Canada\tCAN\t0.855\t1993\n',
 'Switzerland\tCHE\t0.849\t1993\n',
 'Netherlands\tNLD\t0.846\t1993\n',
 'Sweden\tSWE\t0.846\t1993\n',
 'Belgium\tBEL\t0.845\t1993\n',
 'New Zealand\tNZL\t0.844\t1993\n']

In [26]:
read_txt2 = list(open(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDI_with_comma.txt'))
read_txt2

['United States,USA,0.877,1993\n',
 'Australia,AUS,0.876,1993\n',
 'Norway,NOR,0.869,\t1993\n',
 'Canada,CAN,0.855,1993\n',
 'Switzerland,CHE,0.849,1993\n',
 'Netherlands,NLD,0.846,1993']

sep = '\s+' matches any whitespace character (equivalent to [\r\n\t\f\v ])

In [27]:
read_txt3 = pd.read_table(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDI_no_comma.txt',
                         sep= '\s+',names= ['Count', 'Abbre', 'HDI', 'year'])
read_txt3

               Count  Abbre       HDI    year
United        States    USA     0.877  1993.0
Australia        AUS  0.876  1993.000     NaN
Norway           NOR  0.869  1993.000     NaN
Canada           CAN  0.855  1993.000     NaN
Switzerland      CHE  0.849  1993.000     NaN
Netherlands      NLD  0.846  1993.000     NaN
Sweden           SWE  0.846  1993.000     NaN
Belgium          BEL  0.845  1993.000     NaN
New          Zealand    NZL     0.844  1993.0

In [28]:
read_txt4 = pd.read_table(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDI_no_comma.txt', 
sep= '\s+',names= ['Count', 'Abbre', 'HDI', 'year'], skiprows=[1,2,3,4,5,6])
read_txt4

           Count  Abbre       HDI    year
United    States    USA     0.877  1993.0
Belgium      BEL  0.845  1993.000     NaN
New      Zealand    NZL     0.844  1993.0

Missing data is usually either not present (empty string) or marked by some sentinel value. By default, pandas uses a set of commonly occurring sentinels, such as NA, -1.#IND, and NULL. The na_values option can identify the Nan values.

In [36]:
rule = {'Year':[' '], 'HDI':['gfg12', 'df']}
csv_with_null = pd.read_csv(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDIwithNULL.csv', 
names=['Count', 'Abbre', 'HDI', 'Year'], na_values=rule)
csv_with_null

           Count Abbre    HDI  Year
0  United States   USA  0.877  1993
1      Australia   AUS    NaN   NaN
2         Norway   NOR  0.869  1993
3           b2v3   CAN    NaN  1993
4    Switzerland   CHE  0.849  1993
5        Austria   AUT  0.817   vvv
6     Luxembourg   LUX  0.813  1993
7         France   FRA    hhh  1993
8        Finland   FIN  0.805  1993

1. If you want to only read out a small number of rows (avoiding reading the entire file), specify that with 'nrows'
2. 'chunksize' divide the file to chunksize-number of rows

In [42]:
read_csv_noheader5 = pd.read_csv(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDINoheaders.csv' ,
names = ['Count', '缩写', 'HDI','Year'], nrows=3)
read_csv_noheader5

           Count   缩写    HDI  Year
0  United States  USA  0.877  1993
1      Australia  AUS  0.876  1993
2         Norway  NOR  0.869  1993

In [43]:
read_csv_noheader3 = pd.read_csv(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDINoheaders.csv' ,
names = ['Count', '缩写', 'HDI','Year'], chunksize=4)
for i in read_csv_noheader3:
    print(i)
    break

           Count   缩写    HDI  Year
0  United States  USA  0.877  1993
1      Australia  AUS  0.876  1993
2         Norway  NOR  0.869  1993
3         Canada  CAN  0.855  1993

Next section is about wrting data to files!

In [56]:
data = read_csv_noheader5
file_result = data.to_csv('result1.csv', index= False, header=False)

In [60]:
file_result = data.to_csv('result2.csv', index= False, columns=['Year'])

In some cases, however, some manual processing may be necessary. It’s not uncommon to receive a file with one or more malformed lines that trip up read_table.

        CSV dialect options

Argument	            Description
delimiter	            One-character string to separate fields. Defaults to ','.
lineterminator	        Line terminator for writing, defaults to '\r\n'. Reader ignores this and recognizes cross-platform line terminators.
quotechar	            Quote character for fields with special characters (like a delimiter). Default is '"'.
quoting	                Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINIMAL (only fields with special characters       like the delimiter), csv.QUOTE_NONNUMERIC, and csv.QUOTE_NON (no quoting). See Python’s documentation for full details. Defaults to QUOTE_MINIMAL.

skipinitialspace	    Ignore whitespace after each delimiter. Default False.
doublequote	            How to handle quoting character inside a field. If True, it is doubled. See online documentation for full detail and behavior.
escapechar      	    String to escape the delimiter if quoting is set to csv.QUOTE_NONE. Disabled by default

In [73]:
import csv
f = open(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDI.csv')
reader = csv.reader(f)
reader

In [74]:
for line in reader:
    print(line)

['锘緾ountry', 'Country Code', 'HDI', 'Year']
['Australia', 'AUS', '0.873', '1992']
['United States', 'USA', '0.872', '1992']
['Australia', 'AUS', '0.876', '1993']
['Norway', 'NOR', '0.861', '1992']
['Norway', 'NOR', '0.869', '1993']
['Canada', 'CAN', '0.857', '1992']
['Canada', 'CAN', '0.855', '1993']
['Switzerland', 'CHE', '0.845', '1992']
['France', 'FRA', '0.81', '1993']
['Finland', 'FIN', '0.805', '1993']

In [82]:
lines = list(csv.reader(open(r'C:\Users\ZiZi\OneDrive - University of Illinois - Urbana\PythonLearning\Python for data analysis\HDI.csv')))
header, values = lines[0], lines[1:]
print(header)
print(' ')
print(values)

['锘緾ountry', 'Country Code', 'HDI', 'Year']

[['Australia', 'AUS', '0.873', '1992'], ['United States', 'USA', '0.872', '1992'], ['Australia', 'AUS', '0.876', '1993'], ['Norway', 'NOR', '0.861', '1992'], ['Norway', 'NOR', '0.869', '1993'], ['Canada', 'CAN', '0.857', '1992'], ['Canada', 'CAN', '0.855', '1993'], ['Switzerland', 'CHE', '0.845', '1992'], ['France', 'FRA', '0.81', '1993'], ['Finland', 'FIN', '0.805', '1993']]

Web Scraping: XML and HTML
beautiful soup. coming soon......

JSON DATA
JSON (short for JavaScript Object Notation) has become one of the standard formats for sending data by HTTP request between web browsers and other applications. It is a much more flexible data format than a tabular text form like CSV.

Reading Microsoft Excel Files
pandas also supports reading tabular data stored in Excel 2003 (and higher) files using the ExcelFile class. Internally ExcelFile uses the xlrd and openpyxl packages, so you may have to install them first. To use ExcelFile, create an instance by passing a path to an xls or xlsx file:

In [ ]:
xls_file = pd.ExcelFile('data.xls')
table = xls_file.parse('Sheet1')

Interacting with Databases